@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background: #1e1e2e;
  --foreground: #b4befe;
  --primary: #74c7ec;
  --text: #cdd6f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #89b4fa;
  text-decoration: none;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

/* Navbar  */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
  background-color: #181825;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo-container {
  position: relative;
  width: 120px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1.1rem;
  font-weight: 500;
  color: #74c7ec;
}

.nav-link:hover {
  color: #b4befe;
  text-decoration: underline;
}

/* Styles for Mobile Nav Toggle Button */
.mobile-nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin: -1rem;
  z-index: 10;
}

/* Hamburger Icon Styles */
.hamburger {
  display: none;
  background-color: var(--foreground);
  width: 30px;
  height: 3px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Pseudo-elements for top and bottom bars of the hamburger icon */
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background-color: var(--foreground);
  width: 100%;
  height: 3px;
  transition: transform 0.3s ease;
}

.hamburger::before {
  transform: translateY(-8px);
}
.hamburger::after {
  transform: translateY(8px);
}

/* Transforming hamburger icon into 'X' when active */
.mobile-nav-toggle[aria-expanded="true"] .hamburger {
  background-color: transparent;
}

.mobile-nav-toggle[aria-expanded="true"] .hamburger::before {
  transform: rotate(45deg);
}

.mobile-nav-toggle[aria-expanded="true"] .hamburger::after {
  transform: rotate(-45deg);
}

/* Responsive Styles for Navbar */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .mobile-nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #181825;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-link {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-link:hover {
    background-color: var(--foreground);
    color: var(--background);
  }

  .nav-links.expanded {
    display: flex;
    visibility: visible;
  }
}
