[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
yt-dlp = "*"
nltk = "*"
pandas = "*"
transformers = "*"
speechrecognition = "*"
pydub = "*"
tf-keras = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tensorflow = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.12"
