/* styles/Home.module.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #92c7cf;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.dropzone {
  border: 2px dashed #92c7cf;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.uploadContainer {
  border: 2px dashed #92c7cf;
  padding: 20px;
  width: 400px;
  text-align: center;
  cursor: pointer;
  transition: border 0.24s ease-in-out;
}

.uploadContainer:hover {
  border-color: #74c7ec;
}

.title,
.uploadContainer {
  font-family: "Poppins", sans-serif;
}
