/* styles/Home.module.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropzone,
.uploadContainer {
  border: 2px dashed #92c7cf;
  padding: 20px;
  width: 400px;
  text-align: center;
  cursor: pointer;
  transition: border 0.24s ease-in-out;
}

.uploadContainer:hover {
  border-color: #74c7ec;
}

.title {
  margin: 0;
  line-height: 1.15;
  color: #92c7cf;
  padding-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dragActive {
  border-color: var(--primary);
  background-color: rgba(116, 199, 236, 0.1);
}

.submitButton {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.submitButton:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.summary {
  margin-top: 20px;
  padding: 20px;
  background-color: #181825;
  color: white;
  border-radius: var(--border-radius);
}

/* CSS Adaptation for tablets */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .logo {
    max-width: 120px;
  }

  .uploadContainer {
    width: 80%;
    padding: 15px;
  }
}

/* CSS Adaptation for phones */
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .logo {
    max-width: 100px;
  }

  .uploadContainer {
    width: 90%;
    padding: 10px;
  }
}
